<div class="about-page">
	<h3 class="about-title">About Crowdfundr</h1>

		<p>Crowdfundr's mission is to help bring creative projects to life. Crowdfundr raises pledges for projects ranging in category.</p>

		<p>The goal is to become a large global community built around creativity and creative projects. </p>

		<p>Since our site launch, we have raised over $2000.</p>

		<br>
		<br>
		<br>

		<p>Created by Stephanie Nguyen, Tyler Dewald, Zain Wania and Lauren Herdman.</p>

</div>