<% if current_user %>

	<%= form_for [@project, @comment]  do |f| %>

	  <div>
	    <p><%= f.label :comment, "Add A Comment:" %></p>
	    <p><%= f.text_area :body_text, :class => 'text-box' %></p>
	  </div>

	  <%= f.submit "Comment", :class => 'nav-button' %>

	 <% end %>
<% end%>