<div>
	<h1 class="userinfo"><%= @user.username%>'s Account</h1>
		<p class="sub-info">A list of your activity on Crowdfundr.</p>
</div>

<br>

<div>
	<h3>List of Pledged Projects</h3>

	<% current_user.pledged_projects.each do |project| %>
		<%= link_to project.title, project_path(project) %>
	<% end %>
</div>

<div>
	<h3>List of Owned Projects</h3>

	<% current_user.owned_projects.each do |project| %>
		<%= link_to project.title, project_path(project) %>
	<% end %>
</div>

<br>

<p><%= link_to 'Back', projects_path %></p>