<div>
	<h1 class="userinfo"><%= @user.username%>'s Account</h1>
		<p class="sub-info">A list of your activity on Crowdfundr.</p>
</div>

<br>

<div>
	<h3>List of Pledged Projects</h3>

	<% current_user.pledged_projects.uniq.each do |project| %>
		<%= link_to project.title, project_path(project) %>
	<% end %>
</div>

<div>
	<h3>List of Owned Projects</h3>

	<% current_user.owned_projects.uniq.each do |project| %>
		<%= link_to project.title, project_path(project) %>
	<% end %>
</div>

<div>
	<h3>List of Rewards</h3>

	<% current_user.rewards.uniq.each do |reward| %>
		<%= link_to reward.name, project_path(reward.project) %>
	<% end %>
</div>

<br>
<br>
<br>

