<!-- basic render of a project -->
<div class="project">
	<p><%=project.title%></p>
	<p>Description: <%= project.description%></p>
	<p>Start Date: <%= project.start_date%></p>
  <p>End Date: <%=project.end_date%></p>
</div>