<!-- basic render of a project -->
<div class="project">
	<p><%= link_to project.title, project_path(project), class: "project-link" %></p>
	<p>Description: <%= project.description %></p>
	<p>Start Date: <%= project.start_date.strftime('%b. %e/%y') %></p>
  <p>End Date: <%= project.end_date.strftime('%b. %e/%y') %></p>
</div>
