<h1 class = "project-name"><%= @project.title %></h1>
<p class = "project_owner">Project Owner: <%= @project.owner.username if @project.owner %></h3>
<p class = "project-description">Description: <%= @project.description %></p>




