// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-box {
	width: 40em;
	height: 5em;
}

#comments-section {
	padding: 1em;
	margin-top: 1.3em;
}