html {
	font-family: Arial;
}

#crowdfundr {
	color: #01cbfd;
}

a:link {
	text-decoration: none;
}

.sub-info {
	font-size: 0.75em;
}

//  FOOTER

footer
  {
    margin-top: 1em;
    margin-bottom: 0.2em;
  }

 #footer
  {
    position: relative;
    text-align: center;
  }

  #footer header h2
  {
    color: #01cbfd !important;
  }

  #footer header .byline
  {
    color: #01cbfd;
  }