// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userpage {
	padding: 4em;
}

.userinfopage {
	color: #3498db;
}

.reward-thumbnail {
	width: 150px;
	height: auto;
	border: 1px solid black;
}